.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.flag {
  width: 240px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.info {
  max-width: 600px;
}

.name {
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: bold;
}